.u-section-1 .u-sheet-1 {
  min-height: 101px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  align-self: center;
  background-image: none;
  margin: 26px auto 0;
  padding: 10px 35px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  align-self: center;
  margin: -49px 237px 0 auto;
  padding: 10px 70px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: -49px auto 26px 237px;
  padding: 10px 27px 10px 26px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 99px;
  }

  .u-section-1 .u-btn-1 {
    align-self: flex-end;
    margin-top: 25px;
  }

  .u-section-1 .u-btn-2 {
    align-self: flex-end;
    margin-right: 137px;
  }

  .u-section-1 .u-btn-3 {
    margin-bottom: 25px;
    margin-left: 137px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 65px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 65px;
    padding-right: 17px;
    padding-left: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 81px;
  }

  .u-section-1 .u-btn-1 {
    align-self: center;
    margin-top: 16px;
    padding-right: 18px;
    padding-left: 17px;
  }

  .u-section-1 .u-btn-2 {
    align-self: center;
    margin-right: 7px;
    padding-right: 53px;
    padding-left: 52px;
  }

  .u-section-1 .u-btn-3 {
    margin-bottom: 16px;
    margin-left: 7px;
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 128px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 15px;
    margin-left: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 435px;
}

.u-section-2 .u-form-1 {
  height: 328px;
  width: 575px;
  margin: 24px auto 60px;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-label-1 {
  width: 72px;
  font-weight: 700;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-label-2 {
  width: 72px;
  font-weight: 700;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-label-3 {
  width: 72px;
  font-weight: 700;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  font-size: 1.125rem;
  padding: 6px 30px 7px 29px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    padding-right: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    margin-top: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-2 .u-form-1 {
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}
