.u-section-1 .u-sheet-1 {
  min-height: 140px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  align-self: center;
  margin: 14px auto 0 577px;
  padding: 10px 70px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  align-self: center;
  margin: -49px auto 0 363px;
  padding: 10px 27px 10px 26px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  align-self: center;
  margin: 14px auto 0 577px;
  padding: 10px 35px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: -49px auto 14px 363px;
  padding: 10px 47px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 143px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 15px;
    margin-left: 477px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -48px;
    margin-left: 263px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 477px;
  }

  .u-section-1 .u-btn-4 {
    margin-bottom: 15px;
    margin-left: 263px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 147px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 18px;
    margin-left: 367px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -49px;
    margin-left: 173px;
    padding-right: 17px;
    padding-left: 16px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 367px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-btn-4 {
    margin-bottom: 18px;
    margin-left: 173px;
    padding-left: 37px;
    padding-right: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 132px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 10px;
    margin-left: 277px;
    padding-right: 53px;
    padding-left: 52px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 98px;
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 277px;
    padding-right: 18px;
    padding-left: 17px;
  }

  .u-section-1 .u-btn-4 {
    margin-bottom: 10px;
    margin-left: 98px;
    padding-right: 30px;
    padding-left: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 134px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 13px;
    margin-left: 175px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 10px;
    margin-left: 175px;
  }

  .u-section-1 .u-btn-4 {
    margin-bottom: 13px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 435px;
}

.u-section-2 .u-form-1 {
  height: 328px;
  width: 575px;
  margin: 8px auto 60px;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-label-1 {
  width: 72px;
  font-weight: 700;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-label-2 {
  width: 72px;
  font-weight: 700;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-label-3 {
  width: 72px;
  font-weight: 700;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  font-size: 1.125rem;
  padding: 6px 30px 7px 29px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-2 .u-form-1 {
    margin-top: 7px;
  }

  .u-section-2 .u-btn-1 {
    padding-right: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}
